.view-content img {
  max-width:100%;
  cursor:zoom-in;
}

.view-content img:active {
  cursor:zoom-out;
}

.view-content .markdown-preview-view img[
    referrerpolicy='no-referrer'
    ]:active,.view-content .image-embed:active {
  background:var(--background-primary);
  cursor:zoom-out;
  display:block;
  z-index:200;
  position:fixed;
  mix-blend-mode:normal;
  filter:none;
  max-width:100%;
  height:100%;
  width:100%;
  padding:0;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.view-content .image-embed:active img {
  mix-blend-mode:normal;
  filter:none;
  position:absolute;
  top:50%;
  left:0;
  right:0;
  transform:translateY(-50%);
  padding:0;
  width:100%;
  max-height:100vh;
  object-fit:contain;
}
