.theme-dark, .theme-light {
    --h1-color: inherit !important;
    --h2-color: inherit !important;
    --h3-color: inherit !important;
    --h4-color: inherit !important;
    --h5-color: inherit !important;
    --h6-color: inherit !important;
  }
  
  .markdown-preview-view h1,
  .markdown-preview-view h2,
  .markdown-preview-view h3,
  .markdown-preview-view h4,
  .markdown-preview-view h5,
  .markdown-preview-view h6,
  .cm-header-1,
  .cm-header-2,
  .cm-header-3,
  .cm-header-4,
  .cm-header-5,
  .cm-header-6 {
    color: inherit !important;
  }
  